/*Text styling for home page */
* {
    font-size: 24px;
}

.page-header {
    margin: 10px 10px;
    text-align: center;
}
.paragraph {
  font-size: 26px;
  margin: 10px 10px;  
}

.center-text {
    text-align: center;
}

.bullet-point {
    font-size: 26px;
    color: gold;
}

.site-title {
    font-size: 24px;
}
